<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/src/account/wc-account-view.html" />

<dom-module id="wc-user-view">
  <template>
    <input type="text" value="{{userid::input}}"/>

    <h2>Mi id es [[userid]]</h2>
    <h3>y me llamo [[name]]</h3>
    <h2>Cuentas:</h2>
    <wc-account-view userid={{userid}}></wc-account-view>

    <iron-ajax auto
      id="getuser"
      url="http://localhost:3000/techu-peru/v3/users/{{userid}}"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    class WcUserView extends Polymer.Element {
      static get is() { return 'wc-user-view'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          userid: {
            type: Number
          }
        };
      }
      showData(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.userid = data.detail.response.id;
        this.name = data.detail.response.first_name +
                    data.detail.response.last_name;
      }
    }

    window.customElements.define(WcUserView.is, WcUserView);
  </script>
</dom-module>
