<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login/login-usuario.html">
<link rel="import" href="/src/account/wc-account-view.html" />

<dom-module id="gestor-componentes">
  <template>
    <login-usuario id="sender" on-login-ok="showDetail"></login-usuario>
    <div hidden$=[[!showAccounts]]>
      <h2>Bienvenido al BBVA, [[user.first_name]] [[user.last_name]]</h2>
      <wc-account-view
        id="receiver"
        userid={{user.id}}
        on-logout-ok="showLogin">
      </wc-account-view>
    </div>
  </template>

  <script>
    /**c
     * @customElement
     * @polymer
     */
    class GestorComponentes extends Polymer.Element {
      static get is() { return 'gestor-componentes'; }
      static get properties() {
        return {
          showAccounts : {
            type: Boolean,
            value: false
          },
          user: {
            type : Object
          }
        };
      }

      showDetail(e) {
        console.log("Capturado evento del login");
        this.showAccounts = true;
        this.user = e.detail;
      }

      showLogin(e){
        this.showAccounts = (e.detail.id == this.user.id);
        this.$.sender.isLogged = false;
      }
    }

    window.customElements.define(GestorComponentes.is, GestorComponentes);
  </script>
</dom-module>
