<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/src/account/wc-account-view.html" />

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div id="login" hidden$=[[isLogged]] class="container" class="text-center">
      <div class="card" style="width: 30rem;" alt="Responsive card">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus value="{{email::input}}"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" value="{{password::input}}" id="inputPassword" class="form-control" placeholder="Password" required/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" on-click="sendEvent">Ingresar</button>
        <div class="alert alert-danger" role="alert" hidden$=[[!showError]]>
          [[msgError]]
        </div>
      </div>
    </div>
    <iron-ajax
      id="userLogin"
      url="http://localhost:3000/techu-peru/v3/login"
      method="POST"
      handle-as="json"
      on-response="processLoginOK"
      on-error="processLoginError"
      content-type="application/json"
    >
  </template>

  <script>
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          user: {
            type: Object
          },
          isLogged : {
            type: Boolean
          },
          showError: {
            type: Boolean,
            value: false
          },
          msgError: {
            type: String
          }
        };
      }

      processLoginOK(data){
        console.log(data.detail.response);
        let resp = data.detail.response;
        if(this.isLogged=(resp.user!='undefined')){
          console.log('Login correcto');
          this.showError = !resp.user;
          this.user = resp.user;
          this.dispatchEvent(
            new CustomEvent(
              "login-ok",
              {
                "detail" : this.user
              }
            )
          );
        }
      }

      processLoginError(e){
        let resp = e.detail.request.xhr.response;
        console.log(e.detail.request.xhr.response);
        this.showError = true;
        this.msgError = resp.msg;
      }

      sendEvent(e) {
        console.log("Pulsado el botón");
        console.log(e);
        if(this.email && this.password){
          this.$.userLogin.body = {
            "email":this.email,
            "password":this.password
          };

          this.$.userLogin.generateRequest();
        }
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
