<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="wc-account-view">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <button class="btn btn-primary" type="submit" on-click="logout">Salir</button>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Numero cuenta</th>
          <th scope="col">Moneda</th>
          <th scope="col">Saldo</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{accounts}}">
          <tr>
            <td>{{item.numerocuenta}}</td>
            <td>{{item.moneda}}</td>
            <td>{{item.saldo}}</td>
          </tr>
        </template>
      </tbody>
    </table>

    <iron-ajax
      id="getaccount"
      url="http://localhost:3000/techu-peru/v3/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
    >
    <iron-ajax
      id="userLogout"
      url="http://localhost:3000/techu-peru/v3/logout/{{userid}}"
      method="POST"
      handle-as="json"
      on-response="processLogout"
    >
  </template>

  <script>
    class WcAccountView extends Polymer.Element {
      static get is() { return 'wc-account-view'; }
      static get properties() {
        return {
          userid: {
            type: Number,
            observer:'_useridChanged'
          },
          accounts : {
            type: Array
          }
        };
      }

      showData(data) {
        console.log("showData-account");
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }

      _useridChanged(){
        console.log('_useridChanged');
        this.$.getaccount.generateRequest();
      }

      logout(data) {
        console.log("logout");
        //this.$.userLogout.body = {};
        this.$.userLogout.generateRequest();
      }

      processLogout(data){
        let resp = data.detail.response;
        if(resp.id==this.userid){
          console.log('logout correcto');
          this.dispatchEvent(
            new CustomEvent(
              "logout-ok",
              {
                "detail" : resp.id
              }
            )
          );
        }
      }
    }

    window.customElements.define(WcAccountView.is, WcAccountView);
  </script>
</dom-module>
